{% extends "::layout.html.twig" %}
 
{% block body %}
    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    <br/>

    <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="connection">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
    </div>
{% endblock %}
