{% extends "ManjaSourcingBundle::layout.html.twig" %}

{% block title %}
    Add a finding - {{ parent() }}
{% endblock %}

{% block content %}
    <h2>Add a finding</h2>
    
    {% include "ManjaSourcingBundle:Sourcing:form.html.twig" %}

{% endblock %}
